{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

	<h1>{{article.article_title}}</h1>

	{% if article.was_published_recently %}
		<em>НОВАЯ СТАТЬЯ</em><br>
	{% endif %}

	<a href="#">{{article.article_author}}</a>
	<em>{{article.pub_date}}</em>
	<p>{{article.article_text}}</p>

	<hr>

	{% if latest_comment_list %}
		{% for c in latest_comment_list %}
			<strong>{{c.comment_author}}:</strong><em>{{c.pub_date}}</em>
			<p>{{c.comment_text}}</p>
		{% endfor %}
	{% endif %}

	<form action="{% url 'articles:leave_comment' article.id %}" method="POST">
		
		{% csrf_token %}

		<input type="text" name="author" placeholder="Your name" required><br>
		<input type="text" name="comment" placeholder="Comment for {{article.article_title}}" required><br>
		<input type="submit">
	</form>
{% endblock %}