@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

body, html{
	height: 20vh;
	background-color: #eee;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;

}

h1, h2, h3, h4, h5, h6{
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p{
	line-height: 28px;
}

a{
	color: #f86c37;
}

nav{
	z-index: 10;
}

a:hover, a:focus{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

#logo-box{
	max-width: 60px;
	height: 32px;
	border-radius: 15px;
	background-color: #343a40;
	transition: 0.4s ease-out;
}

#logo-box:hover{
	background-color: #f8f9fa;
}

#logo-img{
	position: relative;
	top: -12px;
	left: -5px;
}
